@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0d192b;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 100vh;
  max-width: 100vw;
}

.container {
  width: 250px;
  padding: 10px;
  margin: 5% 0;
  background-color: #14253d;
  border-radius: 10px;
}
.container .card_image {
  position: relative;
  background-color: #00fff7;
  border-radius: 10px;
  cursor: pointer;
}
.container .card_image .nft_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #00fff7;
}
.container .card_image .icon {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container .card_image:hover .nft_image {
  opacity: 0.3;
  background-color: #00fff7;
}
.container .card_image:hover .icon {
  opacity: 1;
}
.container img {
  max-width: 100%;
  border-radius: 10px;
}
.container .content {
  padding: 10px 0;
}
.container .content h4 {
  padding-bottom: 10px;
  cursor: pointer;
}
.container .content h4:hover {
  color: #00fff7;
}
.container .content p {
  color: #8bacda;
  font-family: inherit;
  font-size: 14px;
}
.container .daysout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  padding: 15px 0;
}
.container .daysout .eth {
  color: #00fff7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.container .daysout .grey {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.container hr {
  background-color: #2f415b;
}
.container .footer {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 14px;
}
.container .footer img {
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
}
.container .footer .soft {
  color: #8bacda;
}
.container .footer .cyan:hover {
  color: cyan;
  cursor: pointer;
}

.attribution {
  font-size: 13px;
  text-align: center;
  margin: 2%;
}
.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
}