@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f7f8fd;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  padding: 0 5%;
}

img {
  max-width: 100%;
}

hr {
  opacity: 40%;
}

.Navbar_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 5% 1% 5%;
}
.Navbar_wrapper .Navbar {
  margin-left: 5%;
}
.Navbar_wrapper .Navbar a {
  text-decoration: none;
  color: #b6bcc8;
  padding: 0 15px;
}
.Navbar_wrapper .Navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-left: auto;
}
.Navbar_wrapper .Navbar-right .account img {
  width: 50px;
}
.Navbar_wrapper .Navbar-right .cart_btn {
  cursor: pointer;
}
.Navbar_wrapper .Navbar-right .carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.Navbar_wrapper .Navbar-right .list {
  display: none;
  width: 320px;
  margin-top: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: -150px;
  top: 50px;
}
.Navbar_wrapper .Navbar-right .list hr {
  margin: 5% 0 2% 0;
}
.Navbar_wrapper .Navbar-right .list .text {
  font-weight: 900;
}
.Navbar_wrapper .Navbar-right .list .checkout {
  border: 0;
  border-radius: 10px;
  background-color: #ff7d1a;
  max-width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: white;
  font-weight: 500;
}
.Navbar_wrapper .Navbar-right .list .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 5% 0;
}
.Navbar_wrapper .Navbar-right .list .order .active {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.Navbar_wrapper .Navbar-right .list .order .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Navbar_wrapper .Navbar-right .list .order .details .product_price {
  padding-top: 10px;
  font-size: 14px;
}
.Navbar_wrapper .Navbar-right .list .order .delete_btn {
  width: 15px;
  height: 20px;
}
.Navbar_wrapper .Navbar-right .showCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8%;
  padding: 2% 5%;
}
.product_wrapper .card .product {
  display: none;
  padding-bottom: 10px;
}
.product_wrapper .card .product img {
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.product_thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5%;
}
.product_thumbnail .thumbnail_column img {
  border-radius: 10px;
  cursor: pointer;
}
.product_thumbnail .active,
.product_thumbnail .thumbnail_column:focus {
  border: 3px solid #ff7d1a;
  padding: 2px;
  opacity: 50%;
}

.product_info {
  padding: 5% 0;
}
.product_info span {
  color: #ff7d1a;
  text-transform: uppercase;
  font-weight: 900;
}
.product_info h1 {
  padding: 2% 0;
  width: 70%;
}
.product_info p {
  color: #68707d;
  width: 80%;
  line-height: 25px;
}
.product_info .price {
  padding: 3% 0;
  line-height: 25px;
}
.product_info .price span {
  font-size: 14px;
  margin-left: 10px;
  background-color: #ffede0;
  border-radius: 5px;
  padding: 3px;
}
.product_info .price label {
  color: #b6bcc8;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 900;
}
.product_info .product_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
}
.product_info .product_count form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #f7f8fd;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
.product_info .product_count form span {
  color: black;
}
.product_info .product_count form input {
  border: 0;
  outline: 0;
  width: 40px;
  margin: 0;
  text-align: center;
  font-weight: 900;
  background: transparent;
}
.product_info .product_count form input[type=number]::-webkit-inner-spin-button,
.product_info .product_count form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product_info .product_count button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 25px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  background-color: #ff7d1a;
  color: white;
  font-weight: 700;
}
.product_info .product_count button img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 15px;
}

.cartMessage {
  text-align: center;
  padding: 5% 0;
  font-size: 16px;
  color: #1d2025;
}

.attribution {
  font-size: 14px;
  text-align: center;
  padding: 2% 0;
}

.attribution a {
  color: #3e52a3;
}