@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Barlow:ital,wght@0,300;1,400&family=Bellefair&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

Body {
  font-family: "Barlow", sans-serif;
  color: white;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.Navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0 2% 5%;
}
.Navbar .Navbar_toggle {
  display: none;
}
.Navbar .Nav_items {
  position: relative;
  background-color: rgba(141, 143, 145, 0.5);
  height: 50px;
  width: 700px;
}
.Navbar .Nav_items::after {
  content: "";
  position: absolute;
  top: 22px;
  left: -340px;
  border: 1px solid white;
  width: 400px;
}
.Navbar .Nav_items a {
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  position: relative;
  top: 12px;
  left: 20%;
}
.Navbar .Nav_items a::after {
  content: "";
  position: absolute;
  top: 3%;
  left: 13px;
  border-bottom: 2px solid white;
  width: 0;
  height: 45px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.Navbar .Nav_items a:hover::after, .Navbar .Nav_items a.active::after {
  width: 80%;
}
.Navbar .Nav_items a span {
  font-weight: 900;
  padding-right: 5px;
}
.Navbar .Nav_items a.active::after {
  width: 80%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15% 5% 5% 5%;
}
.hero .content {
  width: 50%;
}
.hero .content h3 {
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hero .content h1 {
  font-size: 7rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2% 0;
}
.hero .content p {
  width: 450px;
  line-height: 2;
}
.hero .content_design h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 1.5rem;
  font-family: "Bellefair", serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  right: 40%;
}

.destination {
  padding: 10% 5% 5% 5%;
}
.destination h3 {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.destination h3 span {
  color: #b4b1b1;
}
.destination .tabs_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}
.destination .tabs_container .tabs_images {
  display: none;
}
.destination .tabs_container .tabs_images img {
  width: 50%;
}
.destination .tabs_container .active_image {
  display: block;
}
.destination .tabs_container .content {
  width: 80%;
}
.destination .tabs_container .content .tabs_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
.destination .tabs_container .content .tabs_bloc .tabs {
  position: relative;
  cursor: pointer;
}
.destination .tabs_container .content .tabs_bloc .tabs::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 30px;
  border-bottom: 2px solid white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.destination .tabs_container .content .tabs_bloc .tabs:hover::after, .destination .tabs_container .content .tabs_bloc .tabs.active_tabs::after {
  width: 100%;
}
.destination .tabs_container .content .content_tabs {
  padding: 5% 0;
  display: none;
}
.destination .tabs_container .content .content_tabs h1 {
  font-size: 4rem;
  font-family: "Bellefair", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.destination .tabs_container .content .content_tabs p {
  width: 400px;
  padding: 3% 0;
  line-height: 2;
}
.destination .tabs_container .content .content_tabs hr {
  color: #b4b1b1;
  margin: 5% 0 0 0;
}
.destination .tabs_container .content .content_tabs .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.destination .tabs_container .content .content_tabs .footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.destination .tabs_container .content .content_tabs .footer p span {
  font-size: 0.9rem;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: #b4b1b1;
}
.destination .tabs_container .content .active_content {
  display: block;
}

.crew {
  padding: 10% 5% 5% 5%;
}
.crew h3 {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.crew h3 span {
  color: #b4b1b1;
}
.crew .crew_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 2;
}
.crew .crew_container .content {
  width: 50%;
  margin: 6% 0;
}
.crew .crew_container .content .crew_info {
  display: none;
}
.crew .crew_container .content .active_content {
  display: block;
}
.crew .crew_container .content h3 {
  font-size: 18px;
  font-weight: 300;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  opacity: 50%;
}
.crew .crew_container .content h1 {
  font-size: 3rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.crew .crew_container .content p {
  width: 70%;
  font-family: "Barlow", sans-serif;
}
.crew .crew_container .content .dot_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3%;
  padding: 5% 0;
}
.crew .crew_container .content .dot_wrapper .dot {
  cursor: pointer;
  height: 9px;
  width: 10px;
  background-color: rgba(133, 128, 128, 0.733);
  border-radius: 50%;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.crew .crew_container .content .dot_wrapper .active_dot {
  background-color: white;
}
.crew .crew_container .crew_images {
  width: 50%;
}
.crew .crew_container .crew_images .image {
  max-width: 500px;
  display: none;
}
.crew .crew_container .crew_images .active_image {
  display: block;
}

.technology {
  padding: 10% 5% 5% 5%;
}
.technology h3 {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.technology h3 span {
  color: #b4b1b1;
}
.technology .tech_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.technology .tech_container .content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}
.technology .tech_container .content_wrapper .num_slide .num {
  font-size: 20px;
  font-family: "Bellefair", serif;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  cursor: pointer;
}
.technology .tech_container .content_wrapper .num_slide .num:hover {
  background-color: white;
  color: black;
}
.technology .tech_container .content_wrapper .num_slide .active_num {
  background-color: white;
  color: black;
}
.technology .tech_container .content_wrapper .content {
  width: 80%;
  line-height: 2;
  display: none;
}
.technology .tech_container .content_wrapper .content span {
  text-transform: uppercase;
  color: #b4b1b1;
}
.technology .tech_container .content_wrapper .content h1 {
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 3rem;
}
.technology .tech_container .content_wrapper .content p {
  width: 80%;
  color: #b4b1b1;
}
.technology .tech_container .content_wrapper .active_content {
  display: block;
}
.technology .content_image .tech_image {
  width: 400px;
  margin-left: 20%;
  display: none;
}
.technology .content_image .active_image {
  display: block;
}

@media only screen and (max-width: 425px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .App {
    margin: 57px 0;
    padding: 0;
  }

  .Navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    bottom: 60px;
    width: 100%;
    padding: 0 5%;
    margin: 0;
  }
  .Navbar .Navbar_link_brand {
    position: relative;
    top: 35px;
  }
  .Navbar .Nav_items {
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 60px 0 0 -100px;
    width: 100vw;
    background-color: transparent;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .Navbar .Nav_items::after {
    content: "";
    position: absolute;
    border: none;
  }
  .Navbar .Nav_items::after a {
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
  }
  .Navbar .Nav_items::after a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid white;
    width: 0;
    height: 45px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .Navbar .Navbar_toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    top: 40px;
    right: 5%;
    cursor: pointer;
  }
  .Navbar .Navbar__ToggleShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hero {
    padding-top: 170px;
    width: 100vw;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: auto;
  }
  .hero .content {
    width: 100%;
  }
  .hero .content p {
    width: 100%;
    text-align: center;
  }
  .hero .content_design {
    width: 100%;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .hero .content_design h1 {
    right: 0;
    left: 0;
  }

  .destination {
    padding: 140px 5%;
    width: 100vw;
    text-align: center;
  }
  .destination .tabs_container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 0;
  }
  .destination .tabs_container .tabs_images img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .destination .tabs_container .content {
    width: 100%;
  }
  .destination .tabs_container .content .tabs_bloc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .destination .tabs_container .content .tabs_bloc .tabs {
    padding: 20px 10px;
  }
  .destination .tabs_container .content .tabs_bloc .tabs::after {
    top: 20px;
    left: 10px;
  }
  .destination .tabs_container .content .tabs_bloc .tabs:hover::after, .destination .tabs_container .content .tabs_bloc .tabs.active_tabs::after {
    width: 70%;
  }
  .destination .tabs_container .content_tabs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 350px;
  }
  .destination .tabs_container .content_tabs p {
    max-width: 100%;
  }

  .crew {
    padding: 150px 5%;
    width: 100vw;
    text-align: center;
  }
  .crew .crew_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
  }
  .crew .crew_container .content {
    width: 100%;
  }
  .crew .crew_container .content h3 {
    font-size: 15px;
  }
  .crew .crew_container .content h1 {
    font-size: 2rem;
  }
  .crew .crew_container .content p {
    width: 100%;
  }
  .crew .crew_container .content .dot_wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .crew .crew_container .content .dot_wrapper .dot {
    margin: 0 10px;
  }
  .crew .crew_container .crew_images {
    width: 100%;
    padding-top: 10px;
  }
  .crew .crew_container .crew_images .image {
    max-width: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }

  .technology {
    padding: 140px 5%;
    width: 100vw;
    text-align: center;
  }
  .technology .tech_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .technology .tech_container .content_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .technology .tech_container .content_wrapper .num_slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .technology .tech_container .content_wrapper .num_slide .num {
    margin: 10px;
  }
  .technology .tech_container .content_wrapper .content {
    width: 100%;
  }
  .technology .tech_container .content_wrapper .content h1 {
    font-size: 1.5rem;
  }
  .technology .tech_container .content_wrapper .content p {
    width: 100%;
  }
  .technology .tech_container .content_image .tech_image {
    width: 400px;
    height: 200px;
    margin: 10px 0;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .Navbar .Nav_items {
    width: 500px;
  }
  .Navbar .Nav_items::after {
    content: "";
    border: 0;
    width: auto;
  }
  .Navbar .Nav_items a {
    padding: 10px;
    left: 10%;
  }

  .hero {
    padding-top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
    margin: auto;
    width: 100vw;
  }
  .hero .content {
    width: 100%;
  }
  .hero .content p {
    width: 100%;
  }
  .hero .content_design h1 {
    left: 0;
    top: 80px;
  }

  .destination {
    padding: 180px 5%;
    width: 100vw;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .destination .tabs_container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .destination .tabs_container .content {
    width: 100%;
  }
  .destination .tabs_container .content .tabs_bloc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 20px 0;
  }
  .destination .tabs_container .content .tabs_bloc .tabs {
    padding: 0 15px;
  }
  .destination .tabs_container .content .tabs_bloc .tabs::after {
    left: 6px;
  }
  .destination .tabs_container .content .tabs_bloc .tabs:hover::after, .destination .tabs_container .content .tabs_bloc .tabs.active_tabs::after {
    width: 80%;
  }
  .destination .tabs_container .content_tabs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .destination .tabs_container .content_tabs p {
    width: 100%;
    margin: auto;
  }

  .crew {
    padding: 170px 5%;
    text-align: center;
    width: 100vw;
  }
  .crew .crew_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .crew .crew_container .content {
    width: 100%;
  }
  .crew .crew_container .content p {
    width: 100%;
  }
  .crew .crew_container .content .dot_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .crew .crew_container .content .dot_wrapper .dot {
    margin: 0 15px;
  }
  .crew .crew_container .crew_images {
    width: 100%;
    padding: 20px 0;
  }
  .crew .crew_container .crew_images .image {
    max-width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }

  .technology {
    padding: 170px 5%;
    width: 100vw;
    text-align: center;
  }
  .technology .tech_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .technology .tech_container .content_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8% 0;
  }
  .technology .tech_container .content_wrapper .num_slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .technology .tech_container .content_wrapper .num_slide .num {
    margin: 10px;
  }
  .technology .tech_container .content_wrapper .content {
    width: 100%;
  }
  .technology .tech_container .content_wrapper .content p {
    width: 100%;
  }
  .technology .tech_container .content_image .tech_image {
    height: 300px;
    width: 100%;
    margin: 30px 0 0 0;
  }
}